HTML, BODY { height: 100%; }

.paragrafoContato {
    font-size: 30px;
    text-align: center;
}

.labelContato {
    font-size: 15px;
    text-align: center;
    left:10%;
    position:relative;
}

form {
    font-size: 200%;
    width:100%;
}

.formInputText {
    font-size: 15px;
    width:80%;
    left:10%;
    position:relative;
}

.buttonContato {
    width: 80px;
    height: 40px;
    left:80%;
    position:relative;
	font-size: 20px;
}