.imagemOferta {
    padding-top: 55px;
	width:200px;
	height: 230px
    position: relative;
}

.paragrafoOferta{
    top:50%;
    position: relative;
    font-size:200%;
}

.divisaoOferta{
    top:30%;
    position: absolute;
}